:root {
  --back-background-color: #20d1c8;
  --main-background-color: #f6f6f6;
  --sidebar-background-color: #ffffff;
  --color-black-1: #303841;

  --highlight-color: #20d1c8;

  --text-color-dark: #2b2e4a;
  --text-color-light: #f5f5f5;
  --text-color-not-selected: #868686;

  --one-per-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.2);
}
