*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

.main {
  width: 100vw;
  height: 100vh;
  background-color: var(--back-background-color);
  position: relative;
  overflow: hidden;
}

.app {
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  margin-top: 3rem;
  width: 90%;
  height: 90%;
  background-color: var(--main-background-color);
  border-radius: 20px;
  box-shadow: var(--one-per-shadow);
}
