.heading-tertiary {
  display: inline-block;
  text-transform: uppercase;
  font-size: 0.8rem;
  color: var(--text-color-dark);
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.heading-secondary {
  display: inline-block;
  font-size: 1.4rem;
  color: var(--text-color-dark);
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.margin-left-small {
  margin-left: 1rem;
}
.margin-left-medium {
  margin-left: 3rem;
}
.margin-left-large {
  margin-left: 5rem;
}
.margin-left-huge {
  margin-left: 7rem;
}

.margin-top-small {
  margin-top: 2rem;
}
.margin-top-medium {
  margin-top: 3rem;
}
.margin-top-large {
  margin-top: 5rem;
}
.margin-top-huge {
  margin-top: 7rem;
}

.margin-bottom-small {
  margin-bottom: 2rem;
}
.margin-bottom-medium {
  margin-bottom: 3rem;
}
.margin-bottom-large {
  margin-bottom: 5rem;
}
.margin-bottom-huge {
  margin-bottom: 7rem;
}
